doctype html
html(lang="ja")
  
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

    title ログイン

    include style

  body
    form.local(method="POST" action="/login")
      div Username: 
        input(name="login" value=login)
      div Password: 
        input(name="passwd" type="password")
      div 
        input(type="submit" value="Login")
      div.error #{error}

    form.hatena(method="POST" action="/login/hatena")
      input(type="submit" value="Login on Hatena")
