doctype html
html(lang="ja")
  
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

    title ログイン

    script(src="/socket.io/socket.io.js")
    script.
      io.connect();
    
    include style

  body
    .user
      img(src=icon)
      |
      | #{name} (#{id})
    p [
      a(href="/") Home
      | ]
